
{{!--                                       +--------------------+ --}}
{{!-- sample layout -> 1. California Burger | Devour this Burger | --}} 
{{!--                                       +--------------------+ --}}
{{!-- set the class to determine if the main.js click handler will apply to it or not --}}
<div class="col-12 d-inline-block">
    {{dataValues.id}}. {{dataValues.burger_name}} 
    {{#unless dataValues.devoured_bool}}
    <button class="devoured-button btn btn-sm my-1 float-right" burger-id="{{dataValues.id}}" devoured-data="{{dataValues.devoured_bool}}">
        Devour da Burger</button>
    {{/unless}}
    {{#if dataValues.devoured_bool}}
    <button class="devoured-button btn btn-sm my-1 float-right" burger-id="{{dataValues.id}}" devoured-data="{{dataValues.devoured_bool}}">
        Eat it again?!</button>
    {{/if}}
</div>